extends ../layouts/main-layout.pug

block styles 
    link(rel="stylesheet", href="/css/product.css")

block content 
    if products.length > 0
        .grid 
            each product in products 
                article.card.product-item 
                    header.card__header 
                        h1.product__title #{product.title}
                    .card__image 
                        img(src=`${product.imageUrl}`)
                    .card__content
                        h2.product__price #{new Intl.NumberFormat("en-US", { style: "currency", currency: "USD" }).format(product.price)}
                        p.product__description #{product.description}
                    .card__actions 
                        a(href=`/products/${product._id}`, class="btn") Details 
                        if isAuthenticated 
                            form(action="/cart", method="POST") 
                                input(type="hidden" name="productId" value=`${product._id}`)
                                input(type="hidden", name="_csrf", value=`${csrfToken}`)
                                button.btn(type="submit") Add to Cart
    else 
        h1 No products!


