doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        link(rel="stylesheet", href="/css/main.css")
        block styles
    body 
        header.main-header 
            nav.main-header__nav 
                ul.main-header__item-list 
                    li.main-header__item 
                        a(href="/", class=(path === "/" ? "active" : "")) Shop 
                    li.main-header__item 
                        a(href="/products", class=(path === "/products" ? "active" : "")) Products 
                    if isAuthenticated 
                        li.main-header__item 
                            a(href="/cart", class=(path === "/cart" ? "active" : "")) Cart 
                        li.main-header__item 
                            a(href="/orders", class=(path === "/orders" ? "active" : "")) Orders 
                        li.main-header__item
                            a(href="/admin/add-product", class=(path === "/admin/add-product" ? "active" : "")) Add Product
                        li.main-header__item
                            a(href="/admin/products", class=(path === "/admin/products" ? "active" : "")) Admin Products
                ul.main-header__item-list 
                    if isAuthenticated 
                        li.main-header__item
                            form(action="/logout", method="POST")
                                input(type="hidden", name="_csrf", value=`${csrfToken}`)
                                button(type="submit") Logout
                    else 
                        li.main-header__item 
                            a(href="/login", class=(path === "/login" ? "active" : "")) Login
                        li.main-header__item 
                            a(href="/signup", class=(path === "/signup" ? "active" : "")) Signup

        main
            block content

        if path === "/" || path === "/products" || path === "/admin/products"
            section.pagination 
                a(class=`${currentPage > 2 ? "enabled" : "disabled"}`, href=`${path}?page=1`) <<
                a(class=`${hasPreviousPage ? "enabled" : "disabled"}`, href=`${path}?page=${previousPage}`) <
                a(href=`${path}?page=${currentPage}`) #{currentPage}
                a(class=`${hasNextPage ? "enabled" : "disabled"}`, href=`${path}?page=${nextPage}`) >
                a(class=`${currentPage < finalPage - 1 ? "enabled" : "disabled"}`, href=`${path}?page=${finalPage}`) >>